.faq-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.faq-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.faq-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.faq-image {
  width: 50px;
  object-fit: cover;
}
.faq-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.faq-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.faq-link1 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.faq-link2 {
  text-decoration: none;
}
.faq-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.faq-icon {
  width: 36px;
  height: 36px;
}
.faq-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.faq-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.faq-image1 {
  width: 50px;
  object-fit: cover;
}
.faq-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-icon02 {
  width: 24px;
  height: 24px;
}
.faq-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.faq-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.faq-link6 {
  text-decoration: none;
}
.faq-cta-btn {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.faq-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.faq-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.faq-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.faq-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.faq-icon08 {
  width: 24px;
  height: 24px;
}
.faq-container2 {
  width: 946px;
  height: 493px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.faq-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 468px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.faq-container4 {
  width: 457px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.faq-container5 {
  width: 484px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 767px) {
  .faq-links-container {
    display: none;
  }
  .faq-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    background-color: var(--dl-color-gray-black);
  }
  .faq-icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .faq-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .faq-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
